body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

a {
    color: black;
}

h2, h3, h4, p {
  margin: 0;
  padding: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.navbar p {
    display: inline-block;
    padding: 10px 10px;
}

.main {
    padding-top: 35px;
}

.watches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.watch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.watch img {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.watch span {
    padding: 5px;
    min-width: 400px;
    font-weight: bold;
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: flex;
    justify-content: center;    
    padding: 0 10%;
    background-image: url("https://media.istockphoto.com/photos/dark-scar-empty-office-room-picture-id482887344?k=20&m=482887344&s=612x612&w=0&h=_7fJqTGSiivOnD5FDBd2MLxh9B20sFpW7MK-ZnrWfqk=");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.teammate {
    color: white;
    padding-top: 50px;
}

.teammate img {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contact, .copyright {
    padding-top: 20px;
}

.btnTop {
    color: black;
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
}
.btnTop:hover {
    background-color: darkgrey;
}